 body {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 30px;
    }
    td, th {
      border: 1px solid black;
      padding: 5px;
    }
    .header {
      background-color: green;
      height: 50px;
    }
    .footer {
      background-color: blue;
      height: 50px;
    }
    .image-container {
      padding: 20px;
    }
    img {
      width: 300px;
    }